<div class="wrapper">
	<div class="wrapper_posts">
		<%@posts.each do |post|%>
		<div class="row">
			<div class="col-md-12">
				<div class="user_avatar_mini pull-left">
				<% if post.user.avatar.url.present?%>
					<%= image_tag post.user.avatar_url() if post.user.avatar_url%>
					<%else%>
					<%= image_tag("default.jpg")%>
					<%end%>
			<span class="user_name"><%= link_to post.user.name,post.user%></span>
					<small class="time">	<%=time_ago_in_words(post.created_at)%></small>
					</div>
					
			</div>
			
		</div>
		<div class="description">
		<div class="thumb">
			<%=link_to post do %>
			<%= image_tag post.image_url() if post.image_url%></div>
		<h1><%=post.titl%></h1>
		<%end%>
			<p><%=truncate(post.body,length: 149)%></p>
			<div class="container-fluid extra">
				<div class="pull-left">
					<%=link_to "Read More",post%>
				</div>
				<div class="pull-right gp">
					<%unless post.get_upvotes.blank?%>
						<%=link_to content_tag(:span ,'',class:"glyphicon glyphicon-heart" )%><small><%=post.get_upvotes.size%></small>
					<%end%>
					<%unless post.comments.blank?%>
						<span class="glyphicon glyphicon-comment"><%=post.comments.count%></span>
					<%end%>
					
				</div>
			</div>
	</div>

	
		</div>
		<%end%>
		<%= will_paginate @posts, per_links: false %>
</div>